<footer id="footer">

    <div class="container">
        <div class="row">
            <!-- Menu -->
            <div class="col-12" >
                <a href="/">
                    {% if society.logo is not empty %}
                        <img src="{{ society.logo}}" width="150"  class="logo" alt="Logo {{ society.name }}">
                    {% endif %}
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-4 d-flex flex-column">
                <h4>Nos services :</h4>
                <a href="/" title="Tu veux du bon son ?" class="menu">Du bon son</a>
                <a href="/olympic/informations" title="Tu veux tout savoir ?" class="menu">Tout savoir</a>
                <a href="/olympic/history" title="Tu veux connaître notre histoire ?" class="menu">Notre histoire</a>
                <a href="/olympic/contact" title="Tu veux nous contacter ?" class="menu">Nous contacter</a>
            </div>
            <!-- Contact -->
            <div class="col-4 d-flex flex-column">
                <h4>Nous contacter :</h4>
                <p>{{ society.address }}</p>
                <p>{{ society.cp }} {{ society.town }}</p>
                <a href="mailto:{{ society.email }}">{{ society.email }}</a>
                <a href="tel:{{ society.phone }}">{{ society.phone }}</a>
            </div>
            <!-- Social medias -->
            <div id="social-media" class="col-4 d-flex flex-column">
                <h4>Nous suivre :</h4>
                {% if society.twitter is not empty %}
                    <a href="{{ society.twitter }}"  target="_blank" title="Nous suivre sur Twitter" >
                        <i class="fa fa-twitter"></i>
                    </a>
                {% endif %}
                {% if society.facebook is not empty %}
                    <a href="{{ society.facebook }}" target="_blank" title="Nous suivre sur Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                {% endif %}
                {% if society.instagram is not empty %}
                    <a href="{{ society.instagram}}" target="_blank" title="Nous suivre sur Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                {% endif %}
                {% if society.github is not empty %}
                    <a href="{{ society.github }}" target="_blank" title="Nous suivre sur Github">
                        <i class="fa fa-github"></i>
                    </a>
                {% endif %}
            </div>
        </div>

    </div>

</footer>