<footer id="footer">

    <div class="container">
        <div class="row justify-content-around">

            <!-- Menu -->
            <div class="col-4 d-flex flex-column menu">
                <a href="/" title="Tu veux du bon son ?" class="menu">Du bon son</a>
                <a href="/olympic/informations" title="Tu veux tout savoir ?" class="menu">Tout savoir</a>
                <a href="/olympic/history" title="Tu veux connaître notre histoire ?" class="menu">Notre histoire</a>
                <a href="/olympic/contact" title="Tu veux nous contacter ?" class="menu">Nous contacter</a>
            </div>
            <!-- Details -->
            <div class="col-4 d-flex flex-column menu">
                <p>{{ society.address }}</p>
                <p>{{ society.cp }} {{ society.town }}</p>
                <a href="mailto:{{ society.email }}">{{ society.email }}</a>
                <br>
                <a href="tel:{{ society.phone }}">{{ society.phone }}</a>
                <br>
                <a href="/admin/login" title="Espace administrateur" class="btn btn-site btn-lg">Espace administrateur</a>
            </div>
            <!-- Social medias -->
            <div id="social-media" class="col-2 d-flex flex-column text-right">
                <a href="https://twitter.com/Olympic-Nantais"  target="_blank"
                   title="Nous suivre sur Twitter" class="menu">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.facebook.com/Olympic-Nantais" target="_blank" title="Notre page Facebook" class="menu">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.instagram.com/Olympic-Nantais" target="_blank" title="Les plus belles photos et vidéos" class="menu">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.instagram.com/Olympic-Nantais" target="_blank" title="Les plus belles photos et vidéos" class="menu">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            </div>
        </div>

    </div>

</footer>