{% extends 'adminLayout.html.twig' %}

{% block content %}

    <section>
        <div class="row">

            <h1 class="col-12">Mise à jour :</h1>
            <form method="POST" class="col-12">
                <div class="form-row mt-4 mb-4">
                    <div class="col-12 mb-3">
                        <label class="form-label">Nom de la société :</label>
                        <input type="text" class="form-control {% if societyError is not null %}is-invalid{% endif %}"
                               id="society" name="society" aria-describedby="inputCréerSociété"
                               value="{{ society.society }}" required>
                        <div class="invalid-feedback">
                            {{ societyError }}
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Adresse :</label>
                        <input type="text" class="form-control {% if addressError is not null %}is-invalid{% endif %}"
                               id="address" name="address" aria-describedby="inputCréerSociété" required>
                        <div class="invalid-feedback">
                            {{ addressError }}
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Code Postal :</label>
                        <input type="text" class="form-control {% if cpError is not null %}is-invalid{% endif %}"
                               id="cp" name="cp" aria-describedby="inputCréerSociété" required>
                        <div class="invalid-feedback">
                            {{ cpError }}
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Ville :</label>
                        <input type="text" class="form-control {% if townError is not null %}is-invalid{% endif %}"
                               id="town" name="town" aria-describedby="inputCréerSociété" required>
                        <div class="invalid-feedback">
                            {{ townError }}
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Logo :</label>
                        <input type="text" class="form-control {% if logoError is not null %}is-invalid{% endif %}"
                               id="logo" name="logo" aria-describedby="inputCréerSociété" required>
                        <div class="invalid-feedback">
                            {{ logoError }}
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Téléphone :</label>
                        <input type="text" class="form-control {% if telephoneError is not null %}is-invalid{% endif %}"
                               id="telephone" name="telephone" aria-describedby="inputCréerSociété" required>
                        <div class="invalid-feedback">
                            {{ telephoneError }}
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Email :</label>
                        <input type="text" class="form-control {% if emailError is not null %}is-invalid{% endif %}"
                               id="email" name="email" aria-describedby="inputCréerSociété" required>
                        <div class="invalid-feedback">
                            {{ emailError }}
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Github :</label>
                        <input type="text" class="form-control"
                               id="github" name="github" aria-describedby="inputCréerSociété">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Facebook :</label>
                        <input type="text" class="form-control"
                               id="facebook" name="facebook" aria-describedby="inputCréerSociété">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Twitter :</label>
                        <input type="text" class="form-control"
                               id="twitter" name="twitter" aria-describedby="inputCréerSociété">
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label">Instagram :</label>
                        <input type="text" class="form-control"
                               id="instagram" name="instagram" aria-describedby="inputCréerSociété">
                    </div>
                    <div class="col-12 mb-3">
                        <button type="submit" class="btn btn-warning btn-lg">Confirmer</button>
                    </div>
                </div>
            </form>

        </div>
    </section>

{% endblock %}